/* base/typography.css */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

small {
  font-size: var(--font-size-sm);
}
